{{!-- List of burgers ready to eat --}}
<div class="container">
    <div class="row" >
        <div class="col-md-5" id="new-burgers">
            <ul class="list-group">
                {{#each burger}}
                    {{#unless devoured}}
                        {{> new-burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

{{!-- User entry field to add burgers --}}
        <div class="col-md-3" id="add-burger">
            <div class="well">
                <form>
                    <div class="form-group">
                        <label for="new-burger">Prep a new burger</label>
                        <input type="text" class="form-control" id="new-burger-input" placeholder="What's the name of your burger?" maxlength="20">
                    </div>
                    <button type="submit" class="btn btn-info" id="add-burger-button">Submit</button>
                </form>
            </div>
        </div>

{{!-- List of burgers that have been eaten --}}
        <div class="col-md-4" id="devoured-burgers">
            <ul class="list-group">
                {{#each burger}}
                    {{#if devoured}}
                        {{> devoured-burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>