{{!-- List of burgers ready to eat --}}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                {{#each burger}}
                    {{#unless devoured}}
                        {{> new-burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{!-- User entry field to add burgers --}}


{{!-- List of burgers that have been eaten --}}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                {{#each burger}}
                    {{#if devoured}}
                        {{> new-burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>